<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Student Table</title>
</head>

<body id="table-body">

    <nav id="navbar">
        <div class="logo">
            <p>Attendance50</p>
        </div>

        <ul>
            <li class="options" id="my-gp"><a href="/teacher/mygroups">My Groups</a></li>
            <li class="options" id="sign-out"><a href="/logout">Sign Out</a></li>
        </ul>
    </nav>



    <div id="table-container">
        <div id="table-head">
            <p>{{ datetime }}</p>
        </div>
        <div id="table-content">
            <table>
                <thead>
                    <tr>   <th>ROLL NO</th> <th>STATUS</th>   </tr>
                </thead>

                <tbody>
                    {% for rollno in attendance %}
                        <tr>   
                            <td>{{ rollno }}</td> 
                            {% if attendance[rollno] == "y" %}
                                <td><span class="pr">Present</span></td> 
                            {% else %}
                                <td><span class="ab">Absent</span></td>  
                            {% endif %}  
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>